html {
	scroll-behavior: smooth;
}

body {
	background-color: #fff;
	background-attachment: fixed; 
	background-repeat: no-repeat; 
	background-position: center top;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
  	font-family: "Bahnschrift SemiBold Condensed", "Bahnschrift", sans-serif;
  	font-weight: 600; /* SemiBold */
 	font-stretch: condensed; /* Condensed styl */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


a {
	text-decoration: none;
}

li {
	list-style: none;
}

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  height: 100px;
  justify-content: center;
  background: rgba(0, 0, 0, 10);
  background: linear-gradient(180deg,rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  border-bottom: 1px solid #fff;
  padding: 15px 0;
  z-index: 990;
  transform: translateY(0);
  transition: background 0.6s ease, transform 0.6s ease;
}

#navbar .container {
  width: 90%;
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar nav a {
  text-decoration: none;
  font-size: 30px;
  padding: 20px;
  color: white;
  font-weight: bold;
  position: relative;
}

#navbar nav a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: #fff;
	transition: width 0.3s ease;
  }
#navbar nav a:hover::after {
	width: 100%;
}

/* Po scrollowaniu */
#navbar.scrolled {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#navbar.scrolled nav a {
  color: black;
}
#navbar.scrolled nav a:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: #000;
	transition: width 0.3s ease;
  }
#navbar.scrolled nav a:hover::after {
	width: 100%;
}

/* Logo: dwa obrazy nakładamy na siebie */
#logo, #logo-colored {
  height: 70px;
  position: absolute;
  left: 100px;
  top: 20px;
  transition: opacity 0.6s ease;
}

#logo-colored {
  opacity: 0; /* domyślnie ukryte */
}

/* Po scrollu pokazujemy kolorowe logo */
#navbar.scrolled #logo {
  opacity: 0;
}
#navbar.scrolled #logo-colored {
  opacity: 1;
}

@media (max-width: 1250px) {
	#navbar .container {
		margin-right: 20px;
	}
	#logo, #logo-colored {
		left: 20px;
	}
}

.web-colors {
	width: 100%;
	height: 10px;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: row;
}

.c-dark {
	width: 33%;
	height: 100%;
	background-color: #000;
}
.c-color {
	width: 34%;
	height: 100%;
	background-color: #0aa;
}
.c-white {
	width: 33%;
	height: 100%;
	background-color: #efefef;
}

.mobile-menu {
	display: none;
}

.mobile-menu a {
	display: flex;
	height: auto;
	width: 25%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	font-size: 25px;
	text-decoration: none;
	color: #000
}
.mobile-menu a img {
	display: block;
	height: 45px;
	width: auto;
	font-size: 20px;
	filter: invert(100%);
	align-self: center;
}

.mobile-menu-shadow {
	display: none;
}

.menu-x {
	display: inline-block;
	cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
	width: 62px;
	height: 5px;
	background-color: #000;
	margin: 10px 0;
	transition: 0.4s;
  }
  
  .change .bar1 {
	transform: translate(0, 15px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
	transform: translate(0, -15px) rotate(45deg);
  }

@media (max-width: 1000px) {
	#logo, #logo-colored {
		left: 20px;
	}

	#navbar nav a {
		display: none;
	}

	.mobile-menu {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		height: 100px;
		justify-content: space-between;
		background-color: #fff;
		z-index: 999;
		color: #000;
	}

	.mobile-menu-shadow {
		display: block;
		position: fixed;
		bottom: 100px;
		left: 0;
		width: 100%;
		height: 10px;
		z-index: 997;
		pointer-events: none;
		background: linear-gradient(to top, rgba(70,70,70,0.3), rgba(0,0,0,0));
	}
}

/* --- PEŁNOEKRANOWE MENU --- */
.fullscreen-menu,
.fullscreen-submenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-20px);
  transition: opacity 0.4s ease, transform 0.4s ease;
  z-index: 990;
}

/* Widoczne menu */
.fullscreen-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* Nagłówek */
.fullscreen-menu h1,
.fullscreen-submenu header {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  position: relative;
  border-bottom: 1px solid #aaa;
  width: 100%;
  padding: 20px;
}

/* Linki w menu */
.fullscreen-menu a,
.fullscreen-submenu a {
  font-size: 25px;
  font-weight: 500;
  color: #000;
  text-decoration: none;
  width: 100%;
  padding: 20px;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  border-bottom: 1px solid #aaa;
  transition: 
    border-color 0.3s ease,
    color 0.3s ease,
    opacity 0.3s ease; /* efekt fade */
  opacity: 0.9; /* lekko przygaszony stan początkowy */
}

/* Efekt po najechaniu (fade-in) */
.fullscreen-menu a:hover,
.fullscreen-submenu a:hover {
  border-bottom: 1px solid #000;
  color: #000;
  opacity: 1; /* jaśniejsze (fade-in) */
}

/* Strzałki */
.arrow {
  font-size: 30px;
  font-weight: 100;
}

/* Strzałka powrotu */
.fullscreen-submenu header .back-arrow {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px;
  cursor: pointer;
}

/* --- Podmenu --- */
.fullscreen-submenu {
  transform: translateX(100%);
  opacity: 1;
  visibility: hidden;
  transition: transform 0.4s ease;
}

.fullscreen-submenu.active {
  visibility: visible;
  transform: translateX(0);
}

/* Animacja przesuwania w lewo */
.fullscreen-submenu.slide-out {
  transform: translateX(-100%);
}


/* WEB CONTENT: */

.banner {
    width: 100%;
    height: calc(100vh - 210px);
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
}

.banner-image {
    height: 100%;
    width: 60%;
    background-color: #aaa;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	overflow: hidden;
}

.banner-text {
    background-color: #055;
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-around;
    position: relative;
    padding: 30px;
}

.banner-text-content {
    width: 100%;
    height: fit-content;
    margin: auto 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 25px;
}
.banner-text-content h1 {
    font-size: 70px;
    color: #aff;
    font-weight: 800;
}
.banner-text-content p {
    font-size: 20px;
    color: #eff;
    font-weight: 150;
}
.banner-text a {
    position: absolute;
    bottom: 20px;
    right: 30px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}

.f-dArrow {
	font-size: 30px;
}

p.f-dText {
	font-size: 20px;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	top: 3px;
	position: relative;
	margin: auto 10px;
	padding-bottom: 4px;
	width: fit-content;
}

p.f-dText::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: #fff;
	transition: width 0.3s ease;
  }
p.f-dText:hover::after {
	width: 100%;
}

.banner-short {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
	background-color: #055;
    justify-content: space-between;
    position: relative;
	gap: 70px;
    padding: 70px 40px 20px;
}

.banner-short h1 {
	font-size: 70px;
    color: #aff;
    font-weight: 800;
}

.banner-short a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #fff;
}

.f-dArrow {
	font-size: 30px;
}

p.f-dText {
	font-size: 20px;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	top: 3px;
	position: relative;
	margin: auto 10px;
	padding-bottom: 4px;
	width: fit-content;
}

p.f-dText::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	background-color: #fff;
	transition: width 0.3s ease;
  }
p.f-dText:hover::after {
	width: 100%;
}

div.breadcrumb {
    width: 100%;
    height: 100px;
    border-bottom: solid 1px #aaa;
    display: flex;
    align-items: center;
}
.breadcrumb_list {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: auto 200px;
    font-size: 18px;
    gap: 40px;
}
.breadcrumb_item a {
    text-decoration: none;
    color: #555;
    font-weight: 300;
	text-decoration-thickness: 1px;
	text-decoration-skip-ink: auto;
}

.breadcrumb_item a:hover {
	text-decoration: underline;
}
.breadcrumb_item.breadcrumb_item-active a {
    color: #111;
    text-decoration: none;
    text-decoration-thickness: 1px;
	text-decoration-skip-ink: auto;
    font-weight: 500;
}
.breadcrumb_item.breadcrumb_item-active:hover {
	text-decoration: underline;
}
.breadcrumb_item--before {
    position: relative;
}
.breadcrumb_item--before::before {
    content: "";
    position: absolute;
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    border-top: 1px solid #555;
    border-right: 1px solid #555;
    z-index: 3;
    left: -23.5px;
    top: 7px;
}

.post_content {
    width: 100%;
    padding: 0 200px;
}
.post_content header {
    font-size: 40px;
    padding: 40px 0;
    font-weight: 800;
}

.post_content_text {
  width: 100%;
  height: 50vh; /* pełna wysokość ekranu */
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden; /* ukrywa przewijanie */
  background-color: #fff;
}

.post_content_text iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  object-fit: cover; /* dopasowuje zawartość iframe */
}

.post_content-text {
	width: 100%;
	font-weight: 300;
	font-size: 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid #aaa;
	color: #222;
}

.post_content-text a {
	font-weight: 600;
	text-decoration: underline;
	color: #222;
}

.zasady-zwiedzania li {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.zasady-zwiedzania li::before {
	content: '';
	width: 35px;
	min-width: 35px;
	height: 35px;
	background: url("/media/accept.png");
	background-color: #0f0;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	margin-right: 12px;
	margin-top: 0px;
}

.post_content-text h3 {
	font-weight: 400;
	font-size: 30px;
	padding: 20px 0;
	align-items: center;
	display: flex;
	flex-direction: row;
	color: #000;
}

.post_content_text-h3_img {
	margin-right: 15px;
	width: 35px;
	height: 35px;
	background-color: #aaa;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
}

.post_content-text ul.post-ul-basic, ul.zasady-zwiedzania {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.post_content-text ul.post-ul-basic li {
	margin-left: 12px;
	display: flex;
	flex-direction: row;
}

.post_content-text ul.post-ul-basic li::before {
	content: '●';
	color: #222;
	margin-right: 12px;
}

.post footer {
    width: 100%;
    height: fit-content;
    margin: 40px 0;
    padding: 50px 200px;
    background-color: #dfffff;
}
.post footer a.source {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 50px;
    text-decoration: none;
    color: #041d33;
}
.post footer a.source img {
    width: auto;
    height: 70px;
}
.post footer a.source div {
    display: flex;
    flex-direction: column;
}
.post footer a.source div h1 {
    font-size: 32px;
    font-weight: 800;
}
.post footer a.source div h2 {
    font-size: 25px;
    font-weight: 400;
}

.post-menu {
  background: #001a1a;
  color: #fff;
  padding: 30px 20px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

/* Lista główna */
.post-menu ol {
  list-style: none;
  margin: 50px auto 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
}

/* Elementy listy */
.post-menu li {
  height: 70px;
  flex: 0 0 48%;
  display: flex;
  align-items: center;
  margin: 10px;
  cursor: pointer;
  font-weight: 400;
  border-bottom: 1px solid #033;
  position: relative;
}

/* Numery */
.post-menu li::before {
  content: counter(item) ".";
  counter-increment: item;
  background: #055;
  color: #eeffff;;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 12px;
  font-size: 20px;
}

.post-menu li::after {
  content: '➔';
  margin-left: auto;
  color: #aff;
  font-size: 30px;
  transform: rotate(90deg);
  margin-right: 0;
}

/* Linki */
.post-menu a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}

/* Przyciski */
#toggleMenuBtn {
  background: rgba(0, 0, 0, 0);
  border: solid 2px #fff;
  color: #fff;
  padding: 15px;
  font-weight: 600;
  font-size: 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  transition: background 0.3s;
  width: 80%;
}

#toggleMenuBtn:hover {
  background: #fff;
  color: #001a1a;
}

ul.post-ul-rozklad {
	display: flex;
	flex-direction: row;
	width: 70%;
	height: fit-content;
	align-items: center;
	gap: 0;
}
ul.post-ul-rozklad li {
	width: 50%;
	height: fit-content;
	display: flex;
	flex-direction: row;
	align-items: center;
}

ul.post-ul-rozklad li::before {
	content: '';
	width: 35px;
	min-width: 35px;
	height: 35px;
	background: url("/media/bus.png");
	background-color: #000;
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	overflow: hidden;
	margin-right: 12px;
	margin-top: 0px;
	filter: invert(100%);
}

.post-content-menu {
	width: 100%;
	padding: 50px 200px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 50px;
}

.post-content-menu a {
	aspect-ratio: 1 / 1;
	display: flex;
	flex-direction: column;
	text-decoration: none;
	border: 1px solid #000;
	outline: 0 solid transparent;
	transition: outline 0.3s ease;
	position: relative;
}

.post-content-menu a::after {
	content: '➔';
	position: absolute;
	bottom: 30px;
	right: 20px;
	text-decoration: none;
	color: #000;
	font-size: 35px;
	transition: transform 0.3s ease;
}

.post-content-menu a div.post-content-menu-img {
	width: 100%;
	height: 60%;
	background-color: #aaa;
}

.post-content-menu-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.post-content-menu a h1 {
	padding: 30px 10px;
	font-size: 24px;
	text-decoration: none;
	color: #000;
	font-weight: 400;
}

.post-content-menu a:hover {
	outline: 4px solid #000;
}
.post-content-menu a:hover::after {
	transform: translateX(8px);
}

.news-gallery {
	display: flex;
	flex-direction: column;
}

.news-header {
	padding: 30px 150px;
}

.news-gallery-content {
	padding: 0 100px;
	gap: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.news-gallery-content a {
	height: 600px;
	border: 1px solid #000;
	display: flex;
	flex-direction: column;
	outline: 0 solid transparent;
	transition: outline 0.3s ease;
}

.news-gallery-content a:hover {
	outline: 4px solid #000;
}

.news-gallery-content a img {
	width: 100%;
	height: 45%;
	background-color: #aaa;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 1;
	position: relative;
	overflow: hidden;
}

.news-galery-element-text {
	height: 55%;
	position: relative;
}

.news-galery-element-text h1 {
	font-size: 25px;
	padding: 10px;
	color: #000;
}

.news-galery-element-text p {
	font-size: 20px;
	padding: 10px;
	font-weight: 100;
	color: #555;
}

.news-galery-element-footer {
	position: absolute;
	bottom: 0;
	margin-top: auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.news-galery-element-date {
	color: #555;
	font-size: 15px;
	font-weight: 100;
}

.news-galery-element-arrow {
	color: #000;
	font-size: 50px;
	font-weight: 200;
	transition: transform 0.3s ease;
}

.news-gallery-content a:hover .news-galery-element-arrow {
	transform: translateX(8px);
}

.news-footer {
	width: 100%;
	height: fit-content;
	padding: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

button#loadMore {
	width: fit-content;
	height: fit-content;
	padding: 10px 30px;
	font-size: 18px;
	color: #fff;
	font-weight: 500;
	margin-top: 30px;
	font-family: inherit;
	border: 1px solid #333;
	background-color: #333;
	border-radius: 5px;
	transition: 0.6s;
}

button#loadMore:hover {
	background-color: rgba(0,0,0,0);
	color: #333;
}

div#newsCount {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-weight: 200;
	font-size: 18px;
	color: #555;
}

div#showedBar {
	margin: 20px 0 30px;
	width: 160px;
	height: 3px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.showed-bar-S {
	background-color: #333;
	height: 3px;
}

.showed-bar-H {
	background-color: #aaa;
	height: 1px;
}

@media (min-width: 1000px) {
  .post-menu ol {
    counter-reset: item;
    justify-content: space-between;
  }

  .post-menu li {
    flex: 0 0 45%;
  }

  #toggleMenuBtn {
    display: none;
  }
}

@media (max-width: 1200px) {
	.post-content-menu {
		padding: 50px;
	}
	.breadcrumb_list {
		margin: auto 50px;
	}
	.post_content {
		padding: 0 50px;
	}
}

@media (max-width: 1440px) {
	.news-gallery-content {
		padding: 0 30px;
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 1000px) {
    .banner {
        width: 100%;
        height: calc(100dvh - 210px);;
        display: flex;
        flex-direction: column-reverse;
        margin-top: 100px;
    }

    .banner-image {
        height: 50%;
        width: 100%;
        background-color: #aaa;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 1;
        position: relative;
        overflow: hidden;
    }

    .banner-text {
        background-color: #055;
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        position: relative;
        padding: 20px;
        gap: 15px;
    }

    .banner-text-content {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: left;
        padding: auto 0;
        gap: 15px;
    }
    .banner-text-content h1 {
        font-size: 36px;
        color: #aff;
        font-weight: 800;
    }
    .banner-text-content p {
        font-size: 15px;
        color: #eff;
        font-weight: 150;
    }
    .banner-text a {
        position: static;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        color: #fff;
    }

	.banner-short {
		padding: 40px 20px 20px;
		gap: 40px;
	}

	.banner-short h1 {
		font-size: 36px;
	}

	.f-dArrow {
		font-size: 30px;
	}

	p.f-dText {
		font-size: 20px;
		border-bottom: 3px solid rgba(0, 0, 0, 0);
		top: 3px;
		position: relative;
		margin: auto 10px;
		padding-bottom: 4px;
		width: fit-content;
	}

    .breadcrumb_list {
        padding: 0;
        margin: auto 10px;
    }

    .post_content {
        width: 100%;
        padding: 0 20px;
    }
    .post_content header {
        font-size: 35px;
    }

    .post footer {
        width: 100%;
        height: fit-content;
        margin: 40px 0;
        padding: 40px 20px;
        background-color: #dfffff;
    }
    .post footer a.source {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 30px;
    }
    .post footer a.source img {
        width: auto;
        height: 70px;
    }
    .post footer a.source div h1 {
        font-size: 30px;
        font-weight: 800;
        text-align: center;
    }
    .post footer a.source div h2 {
        font-size: 24px;
        font-weight: 400;
        text-align: center;
    }

	.post-menu {
		padding: 20px;
	}

	.post-menu ol {
		display: block;
		counter-reset: item;
		max-height: 270px; /* pokazuje ~3.5 elementu */
		overflow: hidden;
		transition: max-height 0.5s ease;
		margin: 0;
	}

	.post-menu ol.expanded {
		max-height: 1000px; /* pełne menu */
	}

	.post-menu li {
		width: 100%;
	}

	#toggleMenuBtn {
		display: inline-block;
	}

	.post-menu li::after {
		margin-right: 10px;
	}

	.zasady-zwiedzania li {
		align-items: start;
	}
	.zasady-zwiedzania li::before {
		margin-top: 5px;
	}

	ul.post-ul-rozklad {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: fit-content;
		align-items: center;
		gap: 8px
	}
	ul.post-ul-rozklad li {
		width: 100%;
		height: fit-content;
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	ul.post-ul-rozklad li::before {
		margin-right: 10px;
		margin-top: 0;
	}

	.post-content-menu {
		width: 100%;
		padding: 30px;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}

	.news-gallery-content {
		padding: 0 30px;
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 700px) {
	.post-content-menu {
		width: 100%;
		padding: 30px;
		grid-template-columns: repeat(1, 1fr);
		gap: 30px;
	}
	.news-gallery-content {
		padding: 0 20px;
		grid-template-columns: repeat(1, 1fr);
	}
}


/* STOPKA: */

footer.main-footer {
	width: 100%;
	margin-top: auto;
	height: fit-content;
	display: flex;
	flex-direction: column;
}

.main-footer-content {
	display: flex;
	flex-direction: row;
	padding: 50px 350px 200px;
	width: 100%;
	height: fit-content;
	background-color: #055;
}

.main-footer-section {
	width: 33.3%;
	height: auto;
	padding: 10px;
	display: flex;
	flex-direction: column;
	text-align: left;
	min-height: 500px;
}

.main-footer-content-mobile {display: none;}

.mfs-cneter {
	z-index: 2;
	border-left: 1px solid #006f6f;
	border-right: 1px solid #006f6f;
}

img.main-footer-logo {
	width: 90%;
	height: auto;
}

.main-footer-section p {
	margin: 20px 0;
	font-weight: 200;
	font-size: 20px;
	color: #fff;
	width: 90%;
	text-align: right;
}

.main-footer-section h1 {
	font-size: 30px;
	color: #cff;
	padding: 0 10px 20px;
}

.main-footer-section-links {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: fit-content;
	padding: 10px;
}

.main-footer-section-links a {
	width: fit-content;
	height: fit-content;
	font-size: 20px;
	margin: 10px 0;
	padding: 10px 0;
	font-weight: 100;
	text-decoration: none;
	color: #fff;
	position: relative;
}

.main-footer-section-links a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 2px;
	background-color: #fff;
	transition: width 0.3s ease;
}

.main-footer-section-links a:hover::after {
	width: 100%;
}

@media (max-width: 1440px) {
	.main-footer-content {
		padding: 50px 50px 200px;
	}
}

@media (max-width: 1000px) {
	.main-footer-content {display: none;}
	.main-footer-content-mobile {
		display: flex;
		flex-direction: column;
		padding: 30px 20px;
		width: 100%;
		display: flex;
		flex-direction: column;
		background-color: #055;
	}
	.main-footer-section-mobile {
		width: 100%;
		height: auto;
		display: flex;
		flex-direction: column;
		text-align: left;
	}
	img.main-footer-logo-mobile {
		width: 60%;
		height: auto;
	}
	.main-footer-section-mobile p {
		font-weight: 200;
		font-size: 20px;
		color: #fff;
		width: 90%;
		text-align: left;
	}
	.mfs-cneter-mobile {
		border-top: 1px solid #006f6f;
		border-bottom: 1px solid #006f6f;
		margin: 20px 0px;
		padding: 20px 0;
	}
	button.footerAccordion {
		cursor: pointer;
		color: #cff;
		background-color: #055;
		padding: 10px 0;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 30px;
		transition: 0.4s;
		font-family: "Bahnschrift SemiBold Condensed", "Bahnschrift", sans-serif;
		font-stretch: condensed;
		font-weight: 800;
	}

	button.footerAccordion::after {
		font-family: "FontAwesome";
		content: "\f107"; /* fa-angle-down */
		color: #fff;
		float: right;
		margin-left: 5px;
	}

	button.footerAccordion.footerAccordionActive::after {
		content: "\f106"; /* fa-angle-up */
	}

	.main-footer-section-links-mobile {
		padding: 20 0;
		max-height: 0;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		transition: max-height 0.2s ease-out;
	}
	.main-footer-section-links-mobile a {
		padding: 10px 0;
		width: fit-content;
		font-size: 20px;
		font-weight: 100;
		color: #fff;
		position: relative;
	}
	.main-footer-section-links-mobile a::after {
		content: "";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 2px;
		background-color: #fff;
		transition: width 0.3s ease;
	}

	.main-footer-section-links-mobile a:hover::after {
		width: 100%;
	}
}

.footer-colors {
	width: 100%;
	height: 10px;
	display: flex;
	flex-direction: row;
}

.main-footer-copyright {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.main-footer-copyright img {
	width: 300px;
	height: auto;
	margin: 50px auto 10px;
}

.main-footer-copyright p {
	width: fit-content;
	margin: 30px auto 50px;
	padding-left: 30px;
	font-size: 20px;
	font-weight: 100;
	color: #111;
}

.footer-mobile-container {display: none;}

@media (max-width: 1000px) {
	.footer-mobile-container {
		display: block;
		height: 100px;
	}
	.footer-colors {
		height: 10px;
		z-index: 998;
	}
}
